@import url('https://fonts.cdnfonts.com/css/jetbrains-mono-2');
*{
font-family: 'JetBrains Mono', sans-serif;
}
body {
  background-image: url('src/background.jpg'); /* Replace with your image path */
  background-repeat:no-repeat;
  background-size:cover;

}
.superClass{
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
    overflow: hidden;
}
.navBarContainer{
    display:flex;
    justify-content: center;
    margin-top:30px;
    z-index: 2000;
    position: absolute;
    width: 100%;
}
.navBar{
    display:flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    width: 1200px;
    height: 90px;
    justify-content: space-between;
    border-style:solid;
    border-width:2px;
    border-radius:5px;
    
}
.navBarRightContainer{
    display: flex;
}
.navBarRight
{
    gap:0;
    display:flex;
    flex-direction: row;
}
#navBarButtons{
    margin:0;
    padding: 15px;
    text-decoration:none;
    font-size: 1.2rem;
}
.aboutme, .featured, .contact{
    border-style: solid;
    border-width:0 0 0 2px;
    background-color: beige;
    height:90px;
}
#dropDownButtons{
    border-style:solid;
    border-radius:5px;
    background-color: beige;
    padding:17px;

}
#dropDownButtons:hover{
    cursor: pointer;
    background-color: white;

}
.aboutMeMenu{
    display:none;
    position:absolute;
    flex-direction: column;
    justify-content: center;
    background-color:transparent;
    z-index: 1;
    border-radius: 5px;
    padding-top:10px;
    transform: translateY(90px);
    gap:10px;
}
#dropDownButtons
{
    transition: box-shadow 0.3s ease;
}
#dropDownButtons:hover{
    box-shadow: 0 0px 10px rgba(89, 89, 89, 0.596);
}
.dropdown-container{
    display: flex;
    justify-content: center;
    align-items: start;
}
.dropdown-container:hover  .aboutMeMenu {
    display: flex;
}
.contact{
    border-radius: 0 5px 5px 0;
}
.name{
    margin-left:15px;
}
.aboutme:hover, .featured:hover, .contact:hover{
    background-color: rgba(188, 188, 188, 0);
    cursor: pointer;
}
/* ABOUT ME PAGE */

.allAboutMe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
}
.allAboutMe.inactive{
    display:none;
}

.aboutContainer{
    max-width:550px;
    position:fixed;
    transform:translateX(-250px);
    margin-left:50px;
    margin-top:150px;
    background-color: beige;
    border-style:solid;
    border-width:2px;
    border-radius: 5px;
    overflow:hidden;
    transition: transform 0.5s ease-in-out;
}
.aboutContainer:hover{
    box-shadow: 0 0px 10px rgba(89, 89, 89, 0.596);
    transform: scale(1.01) translateX(-250px);
}
.aboutContainer.inactive{
    display:none;
}
.aboutText{
    font-size:1.5rem;
    margin-top:0px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 0px;
    text-indent: 3em;
    text-align: justify;
}
.aboutHelo{
    font-size:4rem;
    margin-top:10px;
    margin-bottom:5px;
    margin-left:20px;
}
.aboutmeWindowBar{
    display:flex;
    justify-content: space-between;
    background-color: white;
    height:35px;
    align-items: center;
    border-style:solid;
    border-width:0 0 2px 0;
    border-radius: 5px 5px 0 0;
}
.aboutmeWindowBarText{
    margin-left:15px;
}
.aboutmeWindowBarElements{
    margin-right:15px;
}
.minimize, .maximize,.close{
    border-style:none;
    background-color: transparent;
}
.minimize:hover, .maximize:hover
{
    background-color: rgb(205, 205, 205);
    cursor: pointer;
}
.close:hover{
    background-color: red;
    cursor: pointer;
}

.specsContainer{
    display: flex;
    flex-wrap: wrap;
    padding:0px 20px;
    gap:10px;
    justify-content: space-between;
}
.skillList{
    padding: 15px;
    margin-top: 0px;
}
.skillsTitle{
    margin-bottom: 0px;
}
/*profile pic*/
.pfpContainerSuper{
    position:fixed;
    display: flex;
    transform: translateX(350px) translateY(50px);
}
.pfpContainer{
    display:flex;
    flex-direction: column;
    margin-top:50px;
    width: 350px;
    height:370px;
    background-color: beige;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}
.pfpContainer.inactive{
    display:none;
}
.pfpImageContainer{
    position: relative;
    width:350px;
    height:350px;
    overflow: hidden;
}
.pfp{
    position:absolute;
    object-fit: cover;
    width:350px;
    height:350px;
    transition: transform 0.5s ease-in-out;

}
.pfpFg {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 2;
}
.pfpImageContainer:hover .pfpFg {
  /* ...make the foreground image fully visible. */
  opacity: 1;
}
.pfpWindowBar{
    display:flex;
    padding-top: 2px;
    padding-bottom:2px;
    padding-left:15px;
    padding-right:15px;
    justify-content: space-between;
    background-color: white;
    height:30px;
    align-items: center;
    border-style:solid;
    border-width:0 0 2px 0;
    border-radius: 5px 5px 0 0;
}
.pfpContainer:hover{
    box-shadow: 0 0px 10px rgba(89, 89, 89, 0.596);
    transform: scale(1.01);
}
.pfp:hover .pfpBg{
    transform: scale(1.05);
}

/*ICONS STYLES*/

.iconsContainerSuper
{
    position:fixed;
    display:flex;
    justify-content: flex-end;
    right: 0;
    bottom: 80px;
    margin-right:50px;
    
}
.iconsContainer
{
    background-color: beige;
    border-style: solid;
    border-width:2px;
    border-radius: 5px;
    display:flex;
    flex-direction: row;
    gap:20px;
    height: 100px;
    width: 450px;
    justify-content: center;
    align-items: center;
}
.cameraIcon,.musicIcon,.photosIcon,.moviesIcon,.artIcon{
    width: 60px;
    height:70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}
.iconImage
{
    width:60px;
    height:60px;
    object-fit:cover;
}
.iconText{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.8rem;
}
.cameraIcon:hover,.musicIcon:hover,.photosIcon:hover,.moviesIcon:hover,.artIcon:hover
{
    cursor: pointer;
    transform: scale(1.04);
}

/*universal window*/

.universalWindow
{
    background-color:beige;
    border-style:solid;
    border-width: 2px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

.universalWindow:hover{
    box-shadow: 0 0px 10px rgba(89, 89, 89, 0.596);
    transform: scale(1.01);
}
.universalWindowSize{
    width:400px;
    height:500px;
}
.universalWindowBar
{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    background-color: white;
    height:35px;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-style: solid;
    border-width: 0 0 2px 0;
    padding-left: 10px;
    padding-right:10px;
    flex-shrink: 0;
}
.universalMinimize,.universalMaximize,.universalClose{
    border-style: none;
    background-color: transparent;
}
.universalMinimize:hover,.universalMaximize:hover{
    background-color: rgb(182, 182, 182);
    cursor: pointer;
}
.universalClose:hover{
    background-color: red;
    cursor: pointer;
}
.universalWindowImageHolder{
    width: 100%;
    height:200px;
    object-fit:cover;
    position: relative;
    opacity: 1;
    transition: all 0.3s ease-in-out;

}
.openLinkContainer:hover ~ .universalWindowImageHolder{
    opacity: 0.25;
}
.openLinkContainer{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    z-index: 2;
    transition: all 0.3s ease-in-out;
    
}
.openLinkContainer h3{
    border-style:solid;
    text-decoration: none;
    border-radius: 8px;
    padding:5px;

}
.openLink{
    position:absolute;
    z-index: 2;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.openLinkContainer:hover  .openLink{
    opacity: 1;
}

/* featured content */

.featuredContainer{
    display: none;
    position:absolute;
    flex-direction:row;
    justify-content: space-around;
    padding:80px 0;
    width: 100%;
    z-index: 1;
}
.featuredContentText{
    overflow-y: auto;
    flex-grow: 1;
    height: 200px;
    padding: 0 10px 0 10px;
}
.featuredContentParagraph{
    text-align: justify;
    text-indent:2em;
}
.projectOneContentText{
    overflow-y: auto;
    flex-grow: 1;
    height: 200px;
    padding: 0 10px 0 10px;
}

.projectOne{
    position: fixed;
    transform: translateX(-450px);
}
.projectOne.noTranslate,.projectTwo.noTranslate,.projectThree.noTranslate,.teleGram.noTranslate,.linkedIn.noTranslate,.giHub.noTranslate,.email.noTranslate{
    transform: translateX(0px) translateY(0px) scale(1.2);
}
.projectThree{
    position: fixed;
    transform: translateX(450px);
}

/*scrollbar mod*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: beige;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.emailWindowSize
{
    width:250px;
    height: 300px;
    z-index: 1;
}
.contactContentText
{
    padding:10px;
}

.contactContainer
{
    display:none;
    height: auto;
}
.teleGram,.email,.linkedIn,.gitHub,.projectOne,.projectTwo,.projectThree{
    display:none;
}
.teleGram.active,.gitHub.active,.linkedIn.active,.email.active,
.projectOne.active,.projectTwo.active,.projectThree.active,.featuredContainer.active,
.contactContainer.active
{
    display:flex;
}
.teleGram.active{
    position: fixed;
    transform: translateX(100px) translateY(200px);
}
.email.active{
    position: fixed;
    transform: translateX(-400px) translateY(0px);
}
.gitHub.active{
    position: fixed;
    transform: translateX(-100px) translateY(0px);
}
.linkedIn.active{
    position: fixed;
    transform: translateX(200px) translateY(0px);
}
.contactContainer.active
{
    position:absolute;
    transform: translateX(100px) translateY(0px);
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
    padding:80px 0;
}
#randomCats
{
    width: 100%;
    height:100%;
    object-fit:cover;
}
#catWindow{
    width:400px;
    height: 280px;
    overflow: hidden;
    position: absolute;
    z-index: 200;
    margin:0;
    padding:0;
}
.catWindowSize{
    justify-content: center;
    align-items: center;
    display: flex;
}
.randomCatsPlaceHolder{
    margin:0;
    padding:0;
    height: auto;
}
.catContainer{
    width:100%;
    height:600px;
    justify-content: center;
    display:flex;
    align-items: center;
}
.catContainer.inactive{
    display:none;
}

@media only screen and (max-width: 1200px) {
    .superClass{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 0px;
    }
  .navBarContainer{
    display:flex;
    margin-top:30px;
    z-index: 2000;
    position: relative;
    }
    .navBarLeft{
        display: flex;
        align-items: center;
    }
    .navBarLeft h1{
        text-align: left;
        font-size: 1.2rem;
    }

    #navBarButtons{
    margin:0;
    padding: 5px;
    text-decoration:none;
    font-size: 0.8rem;
    }

    #dropDownButtons{
        display: none;
    }

    .navBar{
    width: 1200px;
    height: 50px; 
    overflow:hidden;
    }
    .aboutme, .featured, .contact{
        height:50px;
    }
    .allAboutMe{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        gap:20px;
    }
    .aboutContainer{
        position: relative;
        transform: none;
            margin-left:0px;
    margin-top:0px;
    
        justify-content: center;
        align-items: center;
    }
    .aboutContainer:hover, .pfpContainer:hover{
        transform: none;
    }
    .pfpContainerSuper{
        position:relative;
        transform: none;
        align-items: center;
        justify-content: center;
    }
    .pfpContainer{
    width: 270px;
    height:290px;
    }
    .pfpImageContainer,.pfp{
    width:270px;
    height:270px;
    }

    /* featured content */
    .featuredContainer{
        display: none;
        flex-wrap: wrap;
        position: relative;
        justify-content: center;
        align-items: center;
        gap:20px;
        padding: 0;
        width: auto;     
    }
    .universalWindowSize{
    width:300px;
    height:500px;
    }
    .projectOne,.projectTwo,.projectThree{
        position: relative;
        transform: none;
        margin-top: 30px;
    }
    .projectOne.noTranslate,.projectTwo.noTranslate,.projectThree.noTranslate,.teleGram.noTranslate,.linkedIn.noTranslate,.giHub.noTranslate,.email.noTranslate{
        transform: none;
    }
    .teleGram.active,.gitHub.active,.linkedIn.active,.email.active,.contactContainer.active{
        position: relative;
        transform: none;
    }
    .contactContainer.active{
        position: relative;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }



    
}